

! Colors 0-15.
*.color0: #292826
*color0:  #292826
*.color1: #981d1b
*color1:  #981d1b
*.color2: #354b57
*color2:  #354b57
*.color4: #996d1b
*color4:  #996d1b
*.color3: #5e4a25
*color3:  #5e4a25
*.color5: #6a3845
*color5:  #6a3845
*.color6: #5b5061
*color6:  #5b5061
*.color7: #707880
*color7:  #707880
*.color8: #3a3937
*color8:  #3a3937
*.color9: #f6413e
*color9:  #f6413e
*.color10: #a08956
*color10:  #a08956
*.color11: #cd9322
*color11:  #cd9322
*.color12: #2e698b
*color12:  #2e698b
*.color13: #ccb9e6
*color13:  #ccb9e6
*.color14: #8f6c64
*color14:  #8f6c64
*.color15: #c5c8c6
*color15:  #c5c8c6

! Black color that will not be affected by bold highlighting.
*.color66: #292826
*color66:  #292826

! Xclock colors.
XClock*foreground: #c5c8c6
XClock*background: #292826
XClock*majorColor:  rgba:c5/c8/c6/ff
XClock*minorColor:  rgba:c5/c8/c6/ff
XClock*hourColor:   rgba:c5/c8/c6/ff
XClock*minuteColor: rgba:c5/c8/c6/ff
XClock*secondColor: rgba:c5/c8/c6/ff

#include "urxvtconfig"


